# Heroes of Pymoli

In [1]:
#Dependencies
import pandas as pd

file = '/Users/Leishla/Desktop/Bootcamp/nu-chi-data-pt-03-2020-u-c/Homework/04-Pandas/Instructions/HeroesOfPymoli/Resources/purchase_data.csv'
purchase_data = pd.read_csv(file)

#Create Dataframe#
purchase_df = pd.DataFrame(purchase_data)

purchase_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Total number of players

In [2]:
players = purchase_df["SN"].unique()

players_count = (len(players))

count_df = pd.DataFrame({'Total Players':[players_count]})
                         
count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Number of unique items
* Average purchase price
* Total number of purchases
* Total revenue

In [3]:
#Number of unique items
unique_items = purchase_df["Item ID"].unique()

item_count = (len(unique_items))

item_count

179

In [4]:
#Average purchase price

purchase_price = purchase_df["Price"].mean()

purchase_price

3.050987179487176

In [5]:
#Total number of purchases 

purchase_count = purchase_df["Purchase ID"].count()

purchase_count

780

In [6]:
#Total revenue

total_rev = purchase_df["Price"].sum()

total_rev

2379.77

In [7]:
#Purchasing Analysis Summary Table

summary_df = pd.DataFrame({'Number of Unique Items':[item_count],'Average Price':[purchase_price], 'Number of Purchases':[purchase_count], 'Total Revenue':[total_rev]})

summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)

summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:.2f}".format)

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and count of Male players
* Percentage and count of Female players
* Percentage and count of other/Non-disclosed

In [8]:
#Unique Players and Gender

pandg_df = purchase_df[["SN","Gender"]]

uniquepg_df = pandg_df.drop_duplicates()

In [9]:
#Percentage and count of Male players

male_players = uniquepg_df.loc[purchase_df["Gender"] == "Male", ]

male_df = pd.DataFrame(male_players)

male_count = male_df["Gender"].count()

male_percent = male_count / players_count

In [10]:
#Percentage and count of Female players

female_players = uniquepg_df.loc[purchase_df["Gender"] == "Female", ]

female_df = pd.DataFrame(female_players)

female_count = female_df["Gender"].count()

female_percent = female_count / players_count

In [11]:
#Percentage and count of Other / Non-Disclosed players

other_players = uniquepg_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed", ]

other_df = pd.DataFrame(other_players)

other_count = other_df["Gender"].count()

other_percent = other_count / players_count

In [12]:
#Purchasing Analysis Summary Table

pgseries = [{"Gender":"Male", "Total Count": male_count, "Percentage of Players": male_percent}, 
        {"Gender":"Female", "Total Count": female_count, "Percentage of Players": female_percent}, 
        {"Gender":"Other / Non-Disclosed", "Total Count": other_count, "Percentage of Players": other_percent}]

pg_df = pd.DataFrame(pgseries)

newpg_df = pg_df.set_index("Gender")

newpg_df["Percentage of Players"] = newpg_df["Percentage of Players"].map("{:.2%}".format)

newpg_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)

### Break down each of the following categories by gender

* Purchase count
* Average purchase price
* Total purchase value 
* Average purchase total per person by gender

In [13]:
#Group by gender
gender_purchase_df = purchase_df.groupby(['Gender'])

In [14]:
#Purchase count
purchase_count = gender_purchase_df["Purchase ID"].count()

purchasecount_df = pd.DataFrame(purchase_count)

rename_purchase_df = purchasecount_df.rename(columns={"Purchase ID":"Purchase Count"})

In [15]:
#Average purchase price
average_purchase = gender_purchase_df["Price"].mean()

average_df = pd.DataFrame(average_purchase)

rename_average_df = average_df.rename(columns={"Price":"Average Purchase Price"})

rename_average_df["Average Purchase Price"] = rename_average_df["Average Purchase Price"].map("${:.2f}".format)

In [16]:
#Total purchase value
total_purchase = gender_purchase_df["Price"].sum()

total_df = pd.DataFrame(total_purchase)

rename_total_df = total_df.rename(columns={"Price":"Total Purchase Value"})

rename_total_df["Total Purchase Value"] = rename_total_df["Total Purchase Value"].map("${:.2f}".format)

In [17]:
#Average purchase total per person by gender

gender_player_df = purchase_df.groupby(["Gender","SN"])

player_sum_df = gender_player_df["Price"].sum()

fem_average = player_sum_df[["Female","Price"]].mean()

male_average = player_sum_df[["Male","Price"]].mean()

other_average = player_sum_df[["Other / Non-Disclosed","Price"]].mean()

perperson_average = [fem_average, male_average, other_average]

In [18]:
#Purchasing Analysis by Gender - Summary Table

merge_df = pd.merge(rename_purchase_df, rename_average_df, on= "Gender", how= "outer")

merge2_df = pd.merge(merge_df, rename_total_df, on= "Gender", how= "outer")

merge2_df["Average Total Purchase Per Person"] = perperson_average

merge2_df["Average Total Purchase Per Person"] = merge2_df["Average Total Purchase Per Person"].map("${:.2f}".format)

merge2_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

### Break down each of the categories below into bins of 4 years

* Purchase count
* Average purchase price
* Total purchase value
* Average purchase total per person by age group

In [19]:
#Data
df = purchase_df[["SN","Age"]]
unique_df = df.drop_duplicates()
bins_df = pd.DataFrame(unique_df)

#Bins by Age
bins = [0,9,14,19,24,29,34,39,50]

#Group Names
group_names = ["<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40>"]

#Create Bins
bins_df["Age Groups"] = pd.cut(bins_df["Age"], bins, labels=group_names, include_lowest=True)

In [20]:
#Total Player Count by Age

age_groups_df = bins_df.groupby("Age Groups")

age_df = age_groups_df["Age"].count()

newage_df = pd.DataFrame(age_df)

totalrename_df = newage_df.rename(columns={"Age":"Total Count"})


#Percentage of Players by Age

agegroup_percent_df = newage_df["Age"]/players_count

percent_df = pd.DataFrame(agegroup_percent_df)

percentrename_df = percent_df.rename(columns={"Age":"Percentage of Players"})


#Summary Table

agegroups_merge_df = pd.merge(totalrename_df, percentrename_df, on= "Age Groups", how= "outer")

agegroups_merge_df["Percentage of Players"] = agegroups_merge_df["Percentage of Players"].map("{:.2%}".format)

agegroups_merge_df

            Total Count Percentage of Players
Age Groups
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40>                  12                 2.08%

## Top Spenders

### Identify the top 5 spenders in the game by total purchase value, then list:

* SN
* Purchase count
* Average purchase price
* Total purchase value

In [21]:
#List users

sn_df = purchase_df[["SN","Price"]]

sn_group_df = sn_df.groupby("SN")

In [22]:
#Total Purchase Value

price_sum = sn_group_df["Price"].sum()

price_sum_df = pd.DataFrame(price_sum)

spenders_df = price_sum_df.sort_values("Price", ascending=False).head(5)

spenders_rename_df = spenders_df.rename(columns= {"Price": "Total Purchase Value"})

In [23]:
#Purchase Count
purchasecount = sn_df["SN"].value_counts()

spenders_rename_df["Purchase Count"] = purchasecount

In [24]:
#Average Purchase Price

a_df = pd.DataFrame(spenders_rename_df)

a_df["Average Purchase Price"] = a_df["Total Purchase Value"]/a_df["Purchase Count"]

In [25]:
#Dataframe Formatting

aorg_df = a_df[["Purchase Count","Average Purchase Price","Total Purchase Value"]]

aorg_df["Total Purchase Value"] = aorg_df["Total Purchase Value"].map("${:.2f}".format)

aorg_df["Average Purchase Price"] = aorg_df["Average Purchase Price"].map("${:.2f}".format)

aorg_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

### Identify the 5 most popular items by purchase count, then list:

* Item ID
* Item Name
* Purchase count
* Item price
* Total purchase value

In [256]:
#Total Purchase Value
itempop_df = purchase_df[["Item ID","Item Name","Price"]]

popgroup_df = itempop_df.groupby(["Item ID","Item Name"])

poptotal_df = popgroup_df["Price"].sum()

In [257]:
#Purchase count

poppurchase = popgroup_df["Price"].count()

In [289]:
#Sorting values
popsum_df = pd.DataFrame({"Purchase Count":itempurchase, "Total Purchase Value": itemtotal_df})

popfinal_df = popsum_df.sort_values("Purchase Count",ascending=False).head(5)

In [290]:
#Data formatting
popfinal_df["Total Purchase Value"] = popfinal_df["Total Purchase Value"].map("${:.2f}".format)

popfinal_df

,,Purchase Count,Total Purchase Value
Item ID,Item Name,,
92,Final Critic,13,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76
145,Fiery Glass Crusader,9,$41.22
132,Persuasion,9,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$31.77

## Most Profitable Items

### Identify the 5 most profitable items by total purchase value, then list: 

* Item ID
* Item name
* Purchase count
* Item price
* Total purchase value

In [291]:
#Total Purchase Value
itemprof_df = purchase_df[["Item ID","Item Name","Price"]]

itemgroup_df = itemprof_df.groupby(["Item ID","Item Name"])

itemtotal_df = itemgroup_df["Price"].sum()

In [292]:
#Purchase count

itempurchase = itemgroup_df["Price"].count()

In [293]:
#Sorting values
sum_df = pd.DataFrame({"Purchase Count":itempurchase, "Total Purchase Value": itemtotal_df})

finalsum_df = sum_df.sort_values("Total Purchase Value",ascending=False).head(5)

In [294]:
#Data formatting
finalsum_df["Total Purchase Value"] = finalsum_df["Total Purchase Value"].map("${:.2f}".format)

finalsum_df

,,Purchase Count,Total Purchase Value
Item ID,Item Name,,
92,Final Critic,13,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76
82,Nirvana,9,$44.10
145,Fiery Glass Crusader,9,$41.22
103,Singed Scalpel,8,$34.80